$__body__background-color1 : #000000;
$__body__background-color2 : #101314;

/******* START BASE 1 COLOR *******/
$_base_color_1 : #121B28;
$_base_color_2 : #7C8584;
$_base_color_3 : #BAA287;
$_base_color_4 : #BDD471;
$_base_color_5 : #E6E3E4;
/******* END BASE 1 COLOR *******/

/******* START BASE 2 COLOR *******/
$_base_color_6 : #F4F6FC;
$_base_color_7 : #A1BBE2;
$_base_color_8 : #CB86F2;
$_base_color_9 : #0A10B2;
$_base_color_10 : #994D51;
/******* END BASE 2 COLOR *******/

/******* START BASE 3 COLOR *******/
$_base_color_11 : #60BAD7;
$_base_color_12 : #7A4C75;
$_base_color_13 : #CD7389;
$_base_color_14 : #FADBA9;
$_base_color_15 : #F5F1F3;
/******* END BASE 3 COLOR *******/

/******* START BASE 4 COLOR *******/
$_base_color_16 : #F3EADB;
$_base_color_17 : #C5F3FD;
$_base_color_18 : #EEB94E;
$_base_color_19 : #A570C4;
$_base_color_20 : #534371;
/******* END BASE 4 COLOR *******/

/******* START BASE 5 COLOR *******/
$_base_color_21 : #B8382F;
$_base_color_22 : #E777B1;
$_base_color_23 : #474D8B;
$_base_color_24 : #A3A6C5;
$_base_color_25 : #E2E3F5;
/******* END BASE 5 COLOR *******/

/******* START BASE 6 COLOR *******/
$_base_color_26 : #B9312F;
$_base_color_27 : #5E44BB;
$_base_color_28 : #4E3F54;
$_base_color_29 : #8E79A5;
$_base_color_30 : #D1BECF;
/******* END BASE 6 COLOR *******/

/******* START BASE 6 COLOR *******/
$_base_color_31 : #FCC997;
$_base_color_32 : #EB9C46;
$_base_color_33 : #F77695;
$_base_color_34 : #C05732;
$_base_color_35 : #524D3C;
/******* END BASE 6 COLOR *******/

/******* START BASE 6 COLOR *******/
$_base_color_36 : #BCC4C8;
$_base_color_37 : #575B61;
$_base_color_38 : #080A0C;
$_base_color_39 : #6A7A9E;
$_base_color_40 : #E9B9BB;
/******* END BASE 6 COLOR *******/

/******* START BUTTON ********/
$_base_color_40 : #1976d2;
$_base_color_41 :#252525;
$_base_color_42 :#36454F;
$_base_color_43 :#181a29;
$_base_color_black :#000000;
$_base_color_white : #FFFFFF;
$_base_color_green: #09e5ab;
$_base_color_blue: #0d6efd;
$_base_color_yellow: #FFEB3B;
$_base_color_yellow1: #FFDA55;
$_base_color_pink: #FFBFD0;
/******* END BUTTON ********/


/******* START FONT SIZE *******/
$__body__font__size : 16px;
$__svg__size_12 : 12px;
$__svg__size_14 : 14px;
$__svg__size_16 : 16px;
$__svg__size_18 : 18px;
$__svg__size_24 : 24px;
$__svg__size_28 : 28px;
$__svg__size_32 : 32px;
$__svg__size_38 : 38px;
$__svg__size_42 : 42px;
$__svg__size_60 : 60px;
$__svg__size_72 : 72px;
$__svg__size_80 : 80px;

// Smallest Text — 12px
// Detail Text — 14px
// Body Text — 16/18px
// Subtitle — 18px
// Title Text — 24/28px
// Main Text — 32/38/42px
// Display Text — 60/72/80px
/******* END FONT SIZE *******/